<div class='new-restaurant-button'>
	<%= link_to 'Add Restaurant', new_restaurant_path, class: 'button expand'%>
</div>

<h3>Signed in as: <%= current_user.email %></h3>

<p>My Restaurants</p>

<ul class='small-block-grid-3 center'>
	<% unless @restaurants.empty? %>
		<% @restaurants.each do |restaurant| %>
			<li>
				<h5><%= restaurant.name %></h5>
				<%= link_to 'Reservations', restaurant_reservations_path(restaurant), class: 'button tiny' %>
			</li>
		<% end %>
	<% end %>
</ul>

