<h2><%= current_user.email %></h2>

<p>My Reservations</p>

<% unless @reservations.empty? %>
	<% @reservations.each do |reservation| %>
		<p><%= "#{reservation.restaurant}, #{reservation.address}, #{reservation.time}" %></p>
	<% end %>
<% end %>

<p>My Restaurants</p>

<% unless @restaurants.empty? %>
	<% @restaurants.each do |restaurant| %>
		<%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
	<% end %>
<% end %>


