<div class='name-form'>
	<%= form_tag restaurants_path, method: :get, authentication: false, id: 'search-form' do %>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Refine Search", class: 'button tiny' %>
	<% end %>
</div>

<div id='restaurants-all'>
	<%= render @restaurants %>
</div>

