<h3>OpenTable</h3>

<header>
		<%= link_to 'Add Restaurant', new_restaurant_path %>
		<%= link_to 'My Account', current_user %>
		<%= link_to 'Sign out', session_path(current_user), method: 'delete' %>	
</header>